/* Reference: https://stackoverflow.com/questions/42125775/reactjs-react-router-how-to-center-div */
.center-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}
